@page "/addmodel"

<MudPaper Class="pa-16 ma-16" Elevation="3">
    <MudForm>
        <MudTextField @bind-Value="_am.Name" Class="pa-2" T="string" Label="Nazwa Modelu" />
        <MudTextField @bind-Value="_am.SystemPrompt" Class="pa-2" T="string" Label="Prompt" Variant="Variant.Outlined" Text="" Lines="3" />
        <MudTextField @bind-Value="_am.Icon" Class="pa-2" T="string" Label="Ikona" />
                    
        <div class="d-flex align-center justify-space-between">
            <MudButton Variant="Variant.Filled" Color="Color.Warning"  Class="ml-auto" OnClick="SaveModel">Zapisz model</MudButton>
        </div>
    </MudForm>
</MudPaper>